ampligraph==2.1.0
click==8.1.7
Jinja2==3.1.6
loguru==0.7.2
numpy==1.26.1
pandas==2.2.2
plotly==5.19.0
pykeen==1.10.2
PyYAML==6.0.1
rdflib==7.0.0
scipy==1.10.0
setuptools==78.1.1
spacy==3.4.2
streamlit==1.37.0
tensorflow==2.12.1
torch==2.7.1
tqdm==4.66.3
transformers==4.50.0
validator_collection==1.5.0
